{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>E Materials</title>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<meta
			http-equiv="X-UA-Compatible"
			content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="{% static 'css/style.css' %}" />
		<!-- DataTables CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css" />

		<!-- jQuery -->
		<script
			type="text/javascript"
			charset="utf8"
			src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

		<!-- DataTables JS -->
		<script
			type="text/javascript"
			charset="utf8"
			src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
		{% tailwind_css %}
	</head>

	<body class="font-arial leading-normal tracking-normal">
		{% include 'includes/sidebar.html' %}

		<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200">
			<div class="px-3 py-3 lg:px-5 lg:pl-3">
				<div class="flex items-center justify-between">
					<div class="flex items-center justify-start rtl:justify-end">
						<button
							data-drawer-target="logo-sidebar"
							data-drawer-toggle="logo-sidebar"
							aria-controls="logo-sidebar"
							type="button"
							class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
							<span class="sr-only">Open sidebar</span>
							<svg
								class="w-6 h-6"
								aria-hidden="true"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path
									clip-rule="evenodd"
									fill-rule="evenodd"
									d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
							</svg>
						</button>
						<a
							href="#"
							class="flex ms-2 md:me-24">
							<span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-gray-800">
								BNHS E-Material
							</span>
						</a>
					</div>
				</div>
			</div>
		</nav>

		<div class="p-4 sm:ml-64">
			<div class="p-4 mt-4">
				<p class="py-12 font-bold text-lg">Lists of your Borrowed Books</p>
				<table
					id="sampleTable"
					class="display">
					<thead>
						<tr>
							<th>Book Name</th>
							<th>Borrowed Date</th>
							<th>Return Date</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						{% for item in borrowed %}
						<tr class="text-center">
							<td>{{ item.name }}</td>
							<td>{{ item.borrowed_date }}</td>
							<td>{{ item.deadline|date:"F j, Y, g:i a" }}</td>
							<td class="font-bold">{% if item.overdue %} Overdue {% else %} {{ item.remaining_days }} days remaining {% endif %}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

				<script>
					$(document).ready(function () {
						$("#sampleTable").DataTable();
					});
				</script>
			</div>
		</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
	</body>
</html>
